## Observations and Insights

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
# Merge the first two datasets on "Mouse ID" so that no data is lost (1894 rows-Study, 250 rows-Mouse)
combined_mouse_df = pd.merge(mouse_metadata, study_results,
                                 how='outer', on='Mouse ID')
combined_mouse_df.head(1895)

# Display the data table for preview

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [13]:
# Checking the number of mice.
mouse_id_count = len(combined_mouse_df["Mouse ID"].unique())
mouse_id_count

249

In [20]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
# Optional: Get all the data for the duplicate mouse ID.
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

mouse_measurments_df = combined_mouse_df.loc[:, ["Mouse ID", "Timepoint", "Tumor Volume (mm3)", "Drug Regimen"]]

mouse_measurments_df = mouse_measurments_df.drop_duplicates(subset=["Mouse ID", "Timepoint"])

mouse_measurments_df

     Mouse ID  Timepoint  Tumor Volume (mm3) Drug Regimen
0        k403          0           45.000000     Ramicane
1        k403          5           38.825898     Ramicane
2        k403         10           35.014271     Ramicane
3        k403         15           34.223992     Ramicane
4        k403         20           32.997729     Ramicane
...       ...        ...                 ...          ...
1888     z969         25           63.145652     Naftisol
1889     z969         30           65.841013     Naftisol
1890     z969         35           69.176246     Naftisol
1891     z969         40           70.314904     Naftisol
1892     z969         45           73.867845     Naftisol

[1888 rows x 4 columns]

In [25]:
# Checking the number of mice in the clean DataFrame.
mouse_clean_count = len(mouse_measurments_df["Mouse ID"].unique())
mouse_clean_count

249

## Summary Statistics

In [41]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.
volume_group = mouse_measurments_df.groupby(["Drug Regimen", "Timepoint"])
volume_mean = volume_group["Tumor Volume (mm3)"].mean()
#volume_mean
volume_median = volume_group["Tumor Volume (mm3)"].median()
#volume_median
volume_variance = volume_group["Tumor Volume (mm3)"].var()
#volume_variance
volume_std_dev = volume_group["Tumor Volume (mm3)"].std()
#volume_std_dev
volume_sem = volume_group["Tumor Volume (mm3)"].sem()
#volume_sem

Volume_cal_df = pd.DataFrame({"Mean of Volume": volume_mean, 
                                   "Median of Volume": volume_median, 
                                   "Variance of Volume": volume_variance, 
                                   "Standard Deviation of Volume": volume_std_dev, 
                                    "SEM of Volume": volume_sem})

#Volume_cal_df["Average Purchase Price"] = gender_purchases_df["Average Purchase Price"].map("{:,.2f}".format)
#gender_purchases_df["Total Purchase Value"] = gender_purchases_df["Total Purchase Value"].map("${:,.2f}".format)
#gender_purchases_df["Avg Total Purchase per Person"] = gender_purchases_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
Volume_cal_df.head(100)

                        Mean of Volume  Median of Volume  Variance of Volume  \
Drug Regimen Timepoint
Capomulin    0               45.000000         45.000000            0.000000
             5               44.266086         45.597064            5.030889
             10              43.084291         43.421014           12.344133
             15              42.064317         42.798160           16.878693
             20              40.716325         40.716428           19.035028
...                                ...               ...                 ...
Zoniferol    25              55.432935         55.676604            5.808348
             30              57.713531         57.419744            9.601024
             35              60.089372         60.365832           10.876760
             40              62.916692         62.274543           13.958456
             45              65.960888         65.684689           14.100301

                        Standard Deviation of Volume  SEM of Volume
Drug Regimen Timepoint
Capomulin    0                              0.000000       0.000000
             5                              2.242964       0.448593
             10                             3.513422       0.702684
             15                             4.108369       0.838617
             20                             4.362915       0.909731
...                                              ...            ...
Zoniferol    25                             2.410052       0.602513
             30                             3.098552       0.800043
             35                             3.297993       0.881426
             40                             3.736102       0.998515
             45                             3.755037       1.003576

[100 rows x 5 columns]

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen